<!DOCTYPE html>
<html lang='en'>
{% extends "layout.html" %}
{% block body %}
<div class='container'>
    <div class='row'>
        <div id="weather-display" class='twelve columns'>
        <h2 class='center'>It's
            <!-- <span id="adv" style="color:#f45041">pretty</span>
            <span id="adj" style="color:#f48c42">burning</span> -->
            <span id="adv">reasonably</span>
            <i class="em em-fire"></i>
            <span id="adj">burning</span>
            <i class="em em-fire"></i>
            in Abu Dhabi today!
        </h2>
        </div>
    </div>
</div>
{% endblock %}

{% block script_zone %}
{% endblock %}
